<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/post.css">
  <title>Posts</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>
    <div class="postsList">
      <% if (posts.length> 0) { %>
        <% posts.forEach(post=> { %>
          <!-- remove hyperlink from a tag-->
          <div class="post">
            <a class="post_content" href="/singlepost/<%= post.id %>">
              <div class="postHeader">
                <div class="user">
                  <img class="profile_picture" src="<%= post.user_icon %>" alt="Profile picture" />
                </div>
                <div class="date">
                  <%= post.post_date %>
                </div>
              </div>
              <div class="postBody">
                <img class="postPicture" src="<%= post.post_src %>" alt="Post picture" />
                <h2 class="title">
                  <%= post.title %>
                </h2>
                <p class="body">
                  <%= post.body %>
                </p>
              </div>
            </a>
            <div class="likes">
              <a class="likeButton" data-like="<%= post.id %>"" id="notClicked">
                <img class="like_picture" src=" /images/like.png" alt="Like"></a>
              <span class="nr_likes">
                <%= post.likes %>
              </span>
            </div>
          </div>
          <% }) %>
            <% } else { %>
              <p>You did not post anything...</p>
              <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
      <script>
        const likeButtons = document.querySelectorAll("a.likeButton");
        likeButtons.forEach(btn => {
          btn.addEventListener("click", (event) => {
            if (btn.id === "notClicked") {
              const id = btn.dataset.like;
              const endpoint = `/posts/${id}`;
              btn.id = "clicked";
              fetch(endpoint, {
                method: "PUT",
              }).then((window.location.href = "/posts"));
            } else {
              console.log("This button has been clicked!");
              event.preventDefault();
            }
          })
        })
      </script>

</html>