<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/post.css" />
  <link rel="stylesheet" href="/css/singlepost.css">
  <title>
    <%= posts.title %>
  </title>
</head>

<body>
  <%- include('./partials/header.ejs') %>
    <div class="singlepost">
      <div class="postHeader">
        <div>
          <img class="profile_picture" src="<%= posts.user_icon %>" alt="User icon" />
        </div>
        <div>
          <span>
            <%= posts.post_date %>
          </span>
        </div>
      </div>
      <div class="postBody">
        <img class="postPicture" src="<%= posts.post_src %>" alt="Post picture" />
        <h2 class="title">
          <%= posts.title %>
        </h2>
        <p class="body">
          <%= posts.body %>
        </p>
        <div class="likes2">
          <h3>Likes: <%= posts.likes %>
          </h3>
        </div>
      </div>
    </div>
    <button class="deleteButton">
      <a class="delete" data-del="<%= posts.id %>">Delete</a>
    </button>
    <%- include('./partials/footer.ejs') %>
      <script>
        const delreq = document.querySelector("a.delete");
        delreq.addEventListener("click", (e) => {
          const id = delreq.dataset.del;
          const endpoint = `/posts/${id}`;
          fetch(endpoint, {
            method: "DELETE",
          }).then((window.location.href = "/posts"));
        });
      </script>
</body>

</html>